Lib
Scripts
Include
share
theguardian_2025_cleaned.json
theguardian_final_cleaned.json
wikipedia_history_cleaned.json
wikipedia_linguistics_cleaned.json
wikipedia_philosophy_cleaned.json
wikipedia_mathematics_cleaned.json
wikipedia_science_cleaned.json
theguardian_2025.json
theguardian_final.json
wikipedia_history.json
wikipedia_linguistics.json
wikipedia_philosophy.json
wikipedia_mathematics.json
wikipedia_science.json
chunks.pkl
vector_db.index
scrape.py
finetuning_dataset_the_guardian.jsonl
finetuning_dataset_wikipedia.jsonl
tinyllama-rag-finetuned